<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
	<test name="Free CRM App Test Cases">
		<classes>
			<class name="testcases.LoginPageTest"></class>
			<class name="testcases.HomePageTest"></class>
			<class name="testcases.ContactsPageTest"></class>

		</classes>
	</test>
</suite>